.game {
  height: 50px;
  width: 50px;
  border-radius: 24px;
  background-color: red;
  border: 0px solid white;
  padding: 10px;
  color: blue;
}
.section-of-head {
  font-size: 30px;
  font-weight: 700;
  margin-left: 10px;
}
.ee {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.game-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color: #e2e8f0;
  width: 100vw;
}
.game-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
  width: 1200px;
}
